* {
    box-sizing: border-box; /* 全要素に適用 */
}
html, body {
    margin: 0;   /* 余白をリセット */
    padding: 0;  /* 念のためpaddingも */
    
}
body {
    font-family: 'Noto Serif JP', serif;
}

.no-margin{
    margin: 0;
}

/* ヘッダー部分 */
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    color: white;
    height: 80px;
    width: 100%;
    padding: 0 50px;  
    z-index: 3;
}
.header-logo{  
    
    display: flex;
    flex-direction: column;
    line-height: 0.9;
    font-size: 32px
}
.logo1{
    display: flex;
    margin-left: 50px;
    margin-top: 10px;
    align-items: bottom;
}
.logo2{
    display: flex;
    margin-left: 80px;
    margin-bottom: 10px;
}
.header-menu{
    list-style: none;
    display: flex;
    gap: 50px;
    margin-right: 50px;
}
.header-menu a {
    color: white;
    text-decoration: none;  
    font-size: 24px;
    
}











h1{
    margin: 0 0;
}



.hero {
    position: relative;
    width: 100%;
    height: 100vh;  /* 画面いっぱいなど */
    overflow: visible;
}

.hero video {
    position: absolute;
    top: 45%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    clip-path: polygon(0 0, 100% 0, 100% 95%, 0 95%);
    z-index: -1;
}

.overlay {
  position: absolute;
  top: -56px;
  left: 0;
  width: 100%;
  height: 103%;
  background: rgba(0,0,0,0.7);
  clip-path: polygon(65% 0, 100% 0, 100% 100%, 45% 100%);
}

.hero-text {
    position: relative;
    z-index: 2; 
    color: white;
    text-align: center;
    font-size: 50px;
    font-family: 'Noto Serif JP', serif;
}

.p1{
    margin: 710px 200px 0 0;
    position: absolute;
    right: -8vw;
}